body{
	background-image: url(../../assets/images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

.obiecontainer{
	position: relative;
	width: 160px;
	height: 220px;
	margin: 15px;
	padding: 0;
}

.lukecontainer{
	position: relative;
	width: 160px;
	height: 220px;
	margin: 15px;
	padding: 0;
}

.yodacontainer{
	position: relative;
	width: 160px;
	height: 220px;
	margin: 15px;
	padding: 0;
}

.darthcontainer{
	position: relative;
	width: 160px;
	height: 220px;
	margin: 15px;
	padding: 0;
}

#obie{
	position: absolute;
	background-image: url(../../assets/images/obiwan.jpg);
	background-repeat: no-repeat;
	width: 160px;
	height: 220px;
	margin: 15px;
	padding: 0;
}

#luke{
	position: absolute;
	background-image: url(../../assets/images/luke.jpg);
	background-repeat: no-repeat;
	width: 160px;
	height: 220px;
	margin: 15px;
	padding: 0;
}

#yoda{
	position: absolute;
	background-image: url(../../assets/images/yoda.png);
	background-repeat: no-repeat;
	width: 160px;
	height: 220px;
	margin: 15px;
	padding: 0;
}

#darth{
	position: absolute;
	background-image: url(../../assets/images/darth.jpg);
	background-repeat: no-repeat;
	width: 160px;
	height: 220px;
	margin: 15px;
	padding: 0;
}

.health{
	position: relative;
	top: 150px;
	height: 50px;
	width: 100%;
	padding: 0 auto;
	background-color: black;
	opacity: .5;
	color: white;
	text-align: center;
	
}

p.apnum{
	color: blue;
	margin: 0;
	font-weight: bold;
	font-size: 20px;
	
}
p.apwords{
	font-weight: bold;
	font-size: 14px;
	margin: 0;
}


#yourchar{
	width: 160px;
	height: 240px;
}

#youropp{
	width: 160px;
	height: 240px;
}

#opp1container{
	position: relative;
	width: 160px;
	height: 220px;
	margin: 15px;
	padding: 0;
}

#opp2container{
	position: relative;
	width: 160px;
	height: 220px;
	margin: 15px;
	padding: 0;
}

#opp3container{
	position: relative;
	width: 160px;
	height: 220px;
	margin: 15px;
	padding: 0;
}

h1{
	color: #001f33;
	text-shadow: 2px 2px #0099ff;
	text-align: center;
}

h2{
	color: #0099ff;
	text-shadow: 2px 2px #001f33;
}

p#attacked{
	color: red;
	padding-top: 20px;
	font-size: 18px;
	font-weight: bolder;
}

p#attacks{
	color: green;
	padding-top: 20px;
	font-size: 18px;
	font-weight: bolder;
}

span{
	color: white;
}

#attack{
	margin-top: 150px;
	margin-left: 0 auto;
	margin-right: 0 auto;
}

#youwonlost{
	color: white;
	font-size: 25px;
	margin: 0 auto;
}

#defarea{
	text-align: center;
}