body{
	background-image: url(../../assets/images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#obie{
	background-image: url(../../assets/images/obiwan.jpg);
	background-repeat: no-repeat;
	width: 160px;
	height: 240px;
	margin: 15px;
}

#luke{
	background-image: url(../../assets/images/luke.jpg);
	background-repeat: no-repeat;
	width: 160px;
	height: 240px;
	margin: 15px;
}

#yoda{
	background-image: url(../../assets/images/yoda.png);
	background-repeat: no-repeat;
	width: 160px;
	height: 240px;
	margin: 15px;
}

#darth{
	background-image: url(../../assets/images/darth.jpg);
	background-repeat: no-repeat;
	width: 160px;
	height: 240px;
	margin: 15px;
}
#yourchar{
	width: 160px;
	height: 240px;
}

#youropp{
	width: 160px;
	height: 240px;
}

#opp1{
	background-image: url(../../assets/images/temp.jpg);
	background-repeat: no-repeat;
	width: 160px;
	height: 240px;
	margin: 10px;
}

#opp2{
	background-image: url(../../assets/images/temp.jpg);
	background-repeat: no-repeat;
	width: 160px;
	height: 240px;
	margin: 10px;
}

#opp3{
	background-image: url(../../assets/images/temp.jpg);
	background-repeat: no-repeat;
	width: 160px;
	height: 240px;
	margin: 10px;
}

h1{
	color: #001f33;
	text-shadow: 2px 2px #0099ff;
	text-align: center;
}

h2{
	color: #0099ff;
	text-shadow: 2px 2px #001f33;
}

p{
	color: red;
	padding-top: 10px;
}

span{
	color: white;
}

button{
	margin-top: 150px;
	margin-left: -70px;
}